@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-512px * 8 - 0.5rem * 8));
    }
}
.animate-scroll {
    animation: scroll 40s linear infinite;
}

body {
    background-color: #f4f4f5;
}

/* tonos */
/* #40424E */
/* #4B4D58 */
/* #565863 */
/* #62636D */
/* #6D6E78 */
/* #787A82 */
/* #83858C */
/* #8F9097 */
/* #9A9BA1 */
/* #A5A6AC */
/* #B0B1B6 */
/* #BCBCC1 */
/* #C7C7CB */
/* #D2D3D5 */
/* #DDDEE0 */
/* #E9E9EA */
/* #F4F4F5 */
/* #FFFFFF */

/* #40424E */
/* #444651 */
/* #484954 */
/* #4B4D57 */
/* #4F515A */
/* #53545D */
/* #575860 */
/* #5A5C63 */
/* #5E5F66 */
/* #626368 */
/* #66666B */
/* #696A6E */
/* #6D6E71 */
/* #717174 */
/* #757577 */
/* #78797A */
/* #7C7C7D */
/* #808080 */

/* #40424E */
/* #3C3E49 */
/* #383A45 */
/* #353640 */
/* #31323C */
/* #2D2F37 */
/* #292B32 */
/* #26272E */
/* #222329 */
/* #1E1F25 */
/* #1A1B20 */
/* #17171C */
/* #131317 */
/* #0F1012 */
/* #0B0C0E */
/* #080809 */
/* #040405 */
/* #000000 */
